<section id="question_one">
  <h2>Pick an Animal:</h2>
 <form name ="quiz" action="#question_two" method="POST">
  <div align="center">
    <input type="hidden" value="1">
    <input type="image" src= "assets/animalquiz/escapist_animal.jpg" name="escape_artist" width="400", height="400">

    <input type="hidden" value="2">
    <input type="image" src= "assets/animalquiz/intelligentsia_animal.jpg" name="intelligentsia" width="400", height="400">

    <input type="hidden" value="3">
    <input type="image" src= "assets/animalquiz/realist_animal.jpg" name="realist" width="400", height="400">

    <input type="hidden" value="4">
    <input type="image" src= "assets/animalquiz/sartorialist_animal.jpg" name="sartorialist" width="400", height="400">

    <input type="hidden" value="5">
    <input type="image" src= "assets/animalquiz/techie_animal.jpg" name="techie" width="400", height="400">

  </div>
</form>
</section>


<section id="question_two">
  <h2>Choose a Book:</h2>
  <form>
    <a href="#question_three"><img style="width: 400px;" src= "assets/booksquiz/escapist_book.jpg" value="escape_artist"></a>
    <a href="#question_three"><img style="width: 400px;" src= "assets/booksquiz/intelligentsia_book.jpg" value="intelligentsia"></a>
    <a href="#question_three"><img style="width: 400px;" src= "assets/booksquiz/realist_book.jpg" value="realist">
    <a href="#question_three"><img style="width: 400px;" src= "assets/booksquiz/sartorialist_book.jpg" value="sartorialist">
    <a href="#question_three"><img style="width: 400px;" src= "assets/booksquiz/techie_book.jpg" value="techie">
  </form>
</section>

<section id="question_three">
  <h2>Select a Map:</h2>
 <form>
  <a href="#question_four"><img style="width: 400px;" src= "assets/mapquiz/escapist_map.jpg" value="escape_artist"></a>
  <a href="#question_four"><img style="width: 400px;" src= "assets/mapquiz/intell_map.png" value="intelligentsia"></a>
  <a href="#question_four"><img style="width: 400px;" src= "assets/mapquiz/realist_map.jpg" value="realist">
  <a href="#question_four"><img style="width: 400px;" src= "assets/mapquiz/sartor_map.jpg" value="sartorialist">
  <a href="#question_four"><img style="width: 400px;" src= "assets/mapquiz/techie_map.jpg" value="techie">
</form>
</section>

<section id="question_four">
  <h2>Choose a Landscape:</h2>
 <form>
  <a href="#question_five"><img style="width: 400px;" src= "assets/landscapequiz/escapist_landscape.png" value="escape_artist"></a>
  <a href="#question_five"><img style="width: 400px;" src= "assets/landscapequiz/intell_landscape.jpg" value="intelligentsia"></a>
  <a href="#question_five"><img style="width: 400px;" src= "assets/landscapequiz/realist_landscape.jpg" value="realist">
  <a href="#question_five"><img style="width: 400px;" src= "assets/landscapequiz/sartorialist_landscape.jpg" value="sartorialist">
  <a href="#question_five"><img style="width: 400px;" src= "assets/landscapequiz/techi_landscape.png" value="techie">
</form>
</section>

<section id="question_five">
  <h2>Pick a Classical Element:</h2>
 <form>
  <a href="/show"><img style="width: 400px;" src= "assets/classicalelementsquiz/escapist_element.jpg" value="escape_artist"></a>
  <a href="/show"><img style="width: 400px;" src= "assets/classicalelementsquiz/intelligentsia_element.jpg" value="intelligentsia"></a>
  <a href="/show"><img style="width: 400px;" src= "assets/classicalelementsquiz/realist_element.jpg" value="realist">
  <a href="/show"><img style="width: 400px;" src= "assets/classicalelementsquiz/sartorialist_element.jpg" value="sartorialist">
  <a href="/show"><img style="width: 400px;" src= "assets/classicalelementsquiz/techie_element.jpg" value="techie">
</form>
</section>



